@import url(_variables.scss);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: #E5E5E5;
  font-family: 'Josefin Sans', sans-serif;
}

.header {
  margin-top: 57px;
  color: #56597A;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .logo {
  font-size: 30px;
  font-weight: bold;
}

.nav .logo .M {
  color: #F78BB6;
}

.nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.nav .nav-link li {
  margin-right: 4em;
  color: #56597A;
  font-size: 18px;
}

.nav .nav-link li a {
  color: #56597A;
  text-decoration: none;
}

.nav .img-rigt {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.section-1 {
  margin-top: 129px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-1 .section-1__h4 {
  margin-bottom: 29px;
  color: #F78BB6;
  font-size: 28px;
  font-weight: 500;
}

.section-1 .section-1__h1 {
  font-weight: bold;
  margin-bottom: 29px;
  font-size: 50px;
}

.section-1 .section-1__p {
  margin-bottom: 50px;
  width: 460px;
}

.section-1 .section-1__btn {
  background: #F78BB6;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  color: #fff;
  outline: none;
  border: none;
  font-size: 18px;
  -webkit-box-shadow: 2px 2px 8px #fab0ce;
          box-shadow: 2px 2px 8px #fab0ce;
}

.section-1 .section-1__img {
  width: 532px;
  height: 400px;
}

.section__img {
  position: absolute;
  left: 0;
}

.section-2 {
  text-align: center;
  margin-top: 219px;
}

.section-2 h4 {
  text-align: center;
  position: relative;
  color: #F78BB6;
  font-style: 28px;
}

.section-2 h1 {
  font-size: 52px;
  font-weight: 700;
  color: #56597A;
}

.section-2 .section-2__elements {
  margin-top: 57px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #56597A;
}

.section-2 .section-2__elements .blog {
  padding-top: 18%;
}

.section-2 .section-2__elements h6 {
  font-size: 34px;
  padding-top: 18%;
  padding-bottom: 5%;
}

.section-2 .section-2__elements .section-2__element__1 {
  width: 270px;
  height: 307px;
  background: #FFF1F9;
  border-radius: 8px;
  padding: 10px;
}

.section-2 .section-2__elements .section-2__element__2 {
  width: 270px;
  height: 307px;
  background: #FFF1F9;
  border-radius: 8px;
}

.section-2 .section-2__elements .section-2__element__3 {
  width: 270px;
  height: 307px;
  background: #FFF1F9;
  border-radius: 8px;
}

.section-2 .section-2__elements .section-2__element__3 p {
  padding-bottom: 10%;
}

.section-2 .section-2__elements .section-2__element__3 h5 {
  text-align: center;
  display: inline-block;
}

.section-2 .section-2__elements .section-2__element__3 h5 i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-2 .section-2__elements .section-2__element__4 {
  width: 270px;
  height: 307px;
  background: #FFF1F9;
  border-radius: 8px;
}

.section-3 {
  margin-top: 129px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 80px;
}

.section-3 .section-3__h4 {
  margin-bottom: 29px;
  color: #F78BB6;
  font-size: 28px;
  font-weight: 500;
}

.section-3 .section-3__h1 {
  font-weight: bold;
  margin-bottom: 29px;
  font-size: 45px;
  width: 482px;
  color: #56597A;
}

.section-3 .section-3__p {
  margin-bottom: 50px;
  width: 460px;
  color: #919299;
}

.section-3 .section-3__btn {
  background: #F78BB6;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  color: #fff;
  outline: none;
  border: none;
  font-size: 18px;
  -webkit-box-shadow: 2px 2px 8px #fab0ce;
          box-shadow: 2px 2px 8px #fab0ce;
}

.section-3 .section-3__img img {
  width: 570px;
  height: 472px;
}

.section__img_2 {
  position: absolute;
  right: 0;
}

.section-4 {
  margin-top: 129px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-4 .section-4__h4 {
  margin-bottom: 29px;
  color: #F78BB6;
  font-size: 28px;
  font-weight: 500;
}

.section-4 .section-4__h1 {
  font-weight: bold;
  margin-bottom: 29px;
  font-size: 45px;
  width: 482px;
  color: #56597A;
}

.section-4 .section-4__p {
  margin-bottom: 50px;
  width: 460px;
  color: #919299;
}

.section-4 .section-4__btn {
  background: #F78BB6;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  color: #fff;
  outline: none;
  border: none;
  font-size: 18px;
  -webkit-box-shadow: 2px 2px 8px #fab0ce;
          box-shadow: 2px 2px 8px #fab0ce;
}

.section-4 .section-4__img img {
  width: 570px;
  height: 472px;
}

.section-5 {
  margin-top: 129px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-5 .section-5__h4 {
  margin-bottom: 29px;
  color: #F78BB6;
  font-size: 28px;
  font-weight: 500;
}

.section-5 .section-5__h1 {
  font-weight: bold;
  margin-bottom: 29px;
  font-size: 45px;
  width: 482px;
  color: #56597A;
}

.section-5 .section-5__p {
  margin-bottom: 50px;
  width: 460px;
  color: #919299;
}

.section-5 .section-5__btn {
  background: #F78BB6;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  color: #fff;
  outline: none;
  border: none;
  font-size: 18px;
  -webkit-box-shadow: 2px 2px 8px #fab0ce;
          box-shadow: 2px 2px 8px #fab0ce;
}

.section-5 .section-5__img img {
  width: 570px;
  height: 472px;
}

.section-5 .section-5__blog {
  margin-right: 25%;
}

.section-5 .section-5__blog h6 {
  font-size: 28px;
  color: #56597A;
  font-weight: bold;
}

.section-5 .section-5__blog p {
  color: #919299;
}

.section-5 i:not(:first-child) {
  color: #F78BB6;
}

.downward {
  margin-top: 57px;
  text-align: center;
}

.downward img {
  margin-right: 5%;
}

.Subscribe {
  text-align: center;
  margin-top: 8%;
}

.Subscribe__left {
  position: absolute;
  left: 50px;
}

.Subscribe__right {
  position: absolute;
  right: 0;
}

.Subscribe__center {
  width: 500px;
  margin: 0 auto;
}

.Subscribe h2 {
  color: #56597A;
  font-weight: bold;
  margin: 30px 0;
  font-size: 45px;
}

.Subscribe p {
  color: #919299;
}

.blank-form {
  background: #fff;
  border: none;
  width: 706px;
  margin: 25px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 5px 5px 20px -5px grey;
          box-shadow: 5px 5px 20px -5px grey;
  padding: 5px 10px;
  border-radius: 4px;
}

.blank-form i {
  color: #D2D2D2;
}

.blank-form input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px 10px;
}

.blank-form input::-webkit-input-placeholder {
  color: #D2D2D2;
}

.blank-form input:-ms-input-placeholder {
  color: #D2D2D2;
}

.blank-form input::-ms-input-placeholder {
  color: #D2D2D2;
}

.blank-form input::placeholder {
  color: #D2D2D2;
}

.blank-form button {
  background: #F78BB6;
  border-radius: 4px;
  width: 178px;
  height: 54px;
  color: #fff;
  outline: none;
  border: none;
  font-size: 18px;
  -webkit-box-shadow: 2px 2px 8px #fab0ce;
          box-shadow: 2px 2px 8px #fab0ce;
}

.table {
  background-image: url("img/Vector-5.png"), url("img/Vector-4.png");
  background-position: end;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 100%;
  margin-top: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 32px;
}

.table__1__icon img {
  border: 1px solid #fff;
  border-radius: 50%;
  background: #fff;
}

.table__1 {
  color: #919299;
}

.table__1 h4 {
  margin-bottom: 10%;
  color: #56597A;
  font-weight: 500;
}

.table__1 span {
  color: #F78BB6;
}

.table__2 {
  color: #919299;
}

.table__2 h4 {
  margin-bottom: 10%;
  color: #56597A;
  font-weight: 500;
}

.table__3 {
  color: #919299;
}

.table__3 h4 {
  margin-bottom: 10%;
  color: #56597A;
  font-weight: 500;
}

.table__4 {
  color: #919299;
}

.table__4 h4 {
  margin-bottom: 10%;
  color: #56597A;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */